.introName {
    font-family: 'Alfa Slab One';
    font-size: 100px;
    margin-top: 100px;
    margin-left: 150px;
    text-shadow: 2px 2px var(--wheat-color);
    letter-spacing: 5px;
    color: var(--black-color);
  }