@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fjalla+One&display=swap');

* {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  --green-color:#004F0F;
  --black-color:#000000;
  --cyanish-color:#06BCC1;
  --wheat-color:#EFD6AC;
}

html {
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(0,79,15,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  border-bottom: 3px solid black
}
.navbar h1 {
  color: var(--wheat-color);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: var(--wheat-color);
}
.navbar a:hover {
  color: var(--cyanish-color);
}
.content {
  padding: 20px;
}

.card1 {
  background: url("assets/imgs/sneakersimg4.png");
  width: 1000px;
  height: 800px;
  margin-left: 757px;
  margin-top: -300px;
  background-repeat: no-repeat;
}

.intro1 {
  text-align: left;
  margin-right: 500px;
  margin-top: 10px;
  max-width: 700px;
  margin-left: 150px;
  font-size: 18px;
}

.introName {
  font-family: 'Alfa Slab One';
  font-size: 100px;
  margin-top: 50px;
  margin-left: 150px;
  text-shadow: 2px 2px var(--wheat-color);
  letter-spacing: 5px;
}

.button1 {
  background-color: #000000;
  border-radius: 10px;
  border: 4px double var(--wheat-color);
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  margin-top: -460px;
  margin-left: 150px;
  position: absolute;
}

.button1:hover {
  background-color:#06BCC1;
  transition: 0.2s;
}

.createName {
  color: var(--wheat-color);
}

.createPage {
  font-size: 100em;
}

.CreateName {
  margin-top: 100em;
}